<table class="aligned" cellspacing="0" cellpadding="0" style="width:930px;">
  <tr>
	<td style="width:770px;padding-right:25px;padding-bottom:5px;vertical-align:top;">
	  <h1 style="margin-top: 0px;">Не могу молчать :)</h1>
	  <div style="text-align:left;margin-bottom:24px;">
		Накопилось много важного и интересного - лучше это хранить в связном и систематизированном виде и в одном месте, доступном для сообщества. То&nbsp;есть здесь.
	  </div>

	  <div class="h1">Контакты</div>
	  <div style="text-align:left;margin-bottom:8px;">
		Скоро здесь будет много всего полезного, потерпите... Если есть мысли или материалы&nbsp;&mdash; не стесняйтесь писать, проще всего меня найти в джаббере. Также довольно много всего лежит в <a href="http://axiger.livejournal.com/">моем блоге</a> на livejournal.com - постепенно буду переносить все сюда.
	  </div>
	  <div style="text-align:left;margin-bottom:24px;">
		<table>
		  <tr>
			<td width="100">почта</td>
			<td>avenger-f собака yandex.ru</td>
		  </tr>
		  <tr>
			<td>телефон</td>
			<td>+7(911)286-92-90</td>
		  </tr>
		  <tr>
			<td>jabber</td>
			<td>rigidus@jabber.ru</td>
		  </tr>
		  <tr>
			<td>vkontakte-id</td>
			<td><a href="http://vkontakte.ru/id298302">Михаил Rigidus Глухов</a></td>
		  </tr>
		</table>
	  </div>
	</td>

	<td style="width:208px;padding-left:25px;vertical-align:top;">
	  <div class="h1" style="margin-top: 0px;"><a class="h_a" href="#">Ресурсы</a></div>
	  <table id="photographers_upd" cellspacing="0" cellpadding="0">
		<tr>
		  <td class="phtgr_userpic">
			<img class="pic_sm" src="/img/link.gif" />
		  </td>
		  <td class="phtgr_user">
			<a href="http://progn.podzone.net:3000/book">Русский перевод ANSI Common Lisp</a>
			<br />
			<span class="comment">(переведено 6 глав из 21)</span>
		  </td>
		</tr>
		<tr>
		  <td class="phtgr_userpic">
			<img class="pic_sm" src="/img/link.gif" />
		  </td>
		  <td class="phtgr_user">
			<a href="http://pcl.catap.ru/doku.php?id=pcl">Русский перевод Practical Common Lisp</a>
			<br />
			<span class="comment">полностью переведено</span>
		  </td>
		</tr>
		<tr>
		  <td class="phtgr_userpic">
			<img class="pic_sm" src="/img/link.gif" />
		  </td>
		  <td class="phtgr_user">
			Русский перевод On Lisp (переведено 3 главы - присодиняйтесь!)
			<br />
			<span class="comment">
			  <ul style="margin-left: 10px;">
				<li><a href="http://translated.by/you/on-lisp-preface/into-ru/trans/">Предисловие</a></li>
				<li><a href="http://translated.by/you/on-lisp-chapter-1">Глава 1</a></li>
				<li><a href="http://translated.by/you/on-lisp-chapter-2">Глава 2</a </li>
																					</ul>
			</span>
		  </td>
		</tr>
	  </table>
	</td>
	<td style="width:208px;padding-left:24px;vertical-align:top;">
	  <div class="h1" style="margin-top: 0px;">
		<a class="h_a" href="#">Файлы</a>
	  </div>
	  <table id="photographers_pop" cellspacing="0" cellpadding="0">
		<tr>
		  <td class="phtgr_userpic">
			<img class="pic_sm" src="/img/pdf.gif" />
		  </td>
		  <td class="phtgr_user">
			<a href="/files/lisp1.pdf">Мир Лиспа. Том 1</a>
			<br />
			<span class="comment">Э.Хювенен, И.Сеппянен</span>
		  </td>
		</tr>
		<tr>
		  <td class="phtgr_userpic">
			<img class="pic_sm" src="/img/pdf.gif" />
		  </td>
		  <td class="phtgr_user">
			<a href="/files/lisp2.pdf">Мир Лиспа. Том 2</a>
			<br />
			<span class="comment">Э.Хювенен, И.Сеппянен</span>
		  </td>
		</tr>
		<tr>
		  <td class="phtgr_userpic">
			<img class="pic_sm" src="/img/pdf.gif" />
		  </td>
		  <td class="phtgr_user">
			<a href="/files/lisp_intro.pdf">Введение в программирование на языке Лисп</a>
			<br />
			<span class="comment">Лидия Городняя</span>
		  </td>
		</tr>
	  </table>
	</td>
  </tr>
</table>

<table class="aligned" cellspacing="0" cellpadding="0"
	   style="width:930px;margin-top:7px;margin-bottom:7px; display: none;">
  <tr>
	<td style="text-align:left;vertical-align:top;">
	  <div style="margin-top: 50px;">
		<!-- BEGIN MainMenuElt -->
		<div style="margin-left: {level}px; margin-right: 30px;">
		  <a href="{link}">{title}</a>
		</div>
		<!-- END MainMenuElt -->
	  </div>
	</td>
	<td style="text-align:left;vertical-align:top;">
	  <!-- BEGIN ContentBlock -->
	  <h1>{title}</h1>
	  {content}
	  <!-- END ContentBlock -->
	</td>
	<td>
	  <table class="Top">
		<tbody>
		  <tr class="TopMenu">
			<td><a href="/rss"><img src="/img/rss20.jpg" border="0" /></a></td>
			<!-- BEGIN TopMenuElt -->
			<td><a href="{link}">{title_menu}</a></td>
			<!-- END TopMenuElt -->
		  </tr>
		</tbody>
	  </table>
	</td>
  </tr>
</table>

<table class="aligned" cellspacing="0" cellpadding="0" style="width:930px;margin-top:15px;">
  <tr>
	<td style="width:208px; padding-right:24px; vertical-align:top;">
	  <div class="h">
		<a href="/albums/">Фотоальбомы</a>
	  </div>
      <div class="last_forum_topic">
		<a href="/albums/dolgiymir/">Долгий мир
		  <br />
		  <span class="comment">август 2006</span>
		</a>
	  </div>
      <div class="last_forum_topic">
		<a href="/albums/farawayanduin/">На далеком Андуине
		  <br />
		  <span class="comment">июль 2006</span>
		</a>
	  </div>
      <div class="last_forum_topic">
		<a href="/albums/lastalliance/">
		  Последний союз
		  <br />
		  <span class="comment">июль 2006</span>
		</a>
	  </div>
      <div class="last_forum_topic">
		<a href="/albums/maytree07/">
		  Майское дерево
		  <br />
		  <span class="comment">май 2006</span>
		</a>
	  </div>
    </td>
	<td style="width:208px; padding-right:25px; vertical-align:top;">
	  <div class="h">
		<a class="menu_element" href="/links/">Ссылки</a>
	  </div>
      <div class="last_forum_topic">
		<a href="http://lisper.ru/">Русскоязычное сообщество Common Lisp разработчиков</a>
	  </div>
      <div class="last_forum_topic">
		<a href="http://lisper.ru/planet/">Russian Lisp Planet</a>
	  </div>
      <div class="last_forum_topic">
		<a href="http://archimag-dev.blogspot.com/">Archmag`s blog</a>
	  </div>
      <div class="last_forum_topic">
		{my_links}
	  </div>
    </td>
	<td style="width:440px;padding-left:25px;vertical-align:top;">
	  <div class="h">
		<a href="/articles/">Статьи</a>
	  </div>
      <div class="last_forum_topic">
		<a href="/articles/weblisp">Веб-программирование на лиспе</a>
		<br />
		<span class="comment">Первые шаги с hunchentoot</span>
	  </div>
      <div class="last_forum_topic">
		<a href="/articles/remoteswank">Как подключать emacs к удаленному лисп-процессу</a>
		<br />
		<span class="comment">Использование swank на боевых серверах</span>
	  </div>
      <div class="last_forum_topic">
		<a href="/articles/lispfeatures">Особенности Common Lisp</a>
		<br />
		<span class="comment">Перевод "Features of Common Lisp" by Abhishek Reddy</span>
	  </div>
      <div class="last_forum_topic">
		<a href="/articles/closuretemplate">Использование cl-closure-template</a>
		<br />
		<span class="comment">Шаблонизация в Common Lisp</span>
	  </div>
    </td>
  </tr>
</table>
